img {
    width: 100px;
    /* Adjust image size as needed */
    border-radius: 50%;
    /* Make the image round */


}

.card-title,
img {
    cursor: pointer;
}

.card-title:hover {
    color: #3f51b5;
}

.page-link {
    color: #000000d2; 
    background-color: #fff;
    border: 1px solid #dee2e6; 
  }
  
  .page-link:hover {
    color: #3f51b5 !important; 
    text-decoration: none !important; 
    background-color: #e9ecef !important; 
    border-color: #dee2e6 !important; 
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff; 
    background-color: #3f51b5;
    border-color: #3f51b5; 
  }
  
  .page-item.disabled .page-link {
    color: #000000d2; 
    pointer-events: none; 
    cursor: auto;
    background-color: #fff; 
    border-color: #dee2e6; 
  }
  