<div class="container d-flex justify-content-center align-items-center pt-5 ">
    <div *ngIf="loading; else content" class="pt-5">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #content>

       <div>
        <div class="row row-cols-1 row-cols-md-3 row-cols-xxl-6 g-4 pt-5">
          <div class="col" *ngFor="let user of users">
            <div class="card justify-content-center align-items-center border-0" (click)="viewUserDetail(user.id)">
              <img [src]="user.avatar" alt="User Avatar" class="card-img-top pe-auto" >
              <div class="card-body text-center ">
                <h5 class="card-title pe-auto" >{{user.first_name}} {{user.last_name}}</h5>
                <!-- <p class="card-text">{{user.email}}</p> -->
              </div>
            </div>
          </div>
  
        </div>

        <nav aria-label="Page navigation example" *ngIf="total_pages > 0" class="mt-5">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"><span aria-hidden="true">&laquo;</span></button>
            </li>
            <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
              <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === total_pages">
              <button class="page-link" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === total_pages"><span aria-hidden="true">&raquo;</span></button>
            </li>
          </ul>
        </nav>
        
       </div>
         

    </ng-template>   
</div>